@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: oklch(65.39% 0.193 25.14);
    --color-primary-content: oklch(98% 0.003 247.858);
}